@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chewy&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-chewy {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 700;
  font-style: normal;
}